<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${name}"></li>
        <li th:text="${lastname}"></li>
        <li th:if="${email}" th:text="${email}"></li>
        <li th:if="${email == null}" th:text="${'no tiene email'}"></li>
    </ul>
    <a th:href="@{/list}">ver listado</a>
    <br>
    <a th:href="@{/api/params/foo?mensaje=Hola que tal festival}">ver mensaje</a>
    <br>
    <a th:href="@{/api/params/foo(mensaje='Hola que tal festival')}">ver mensaje2</a>
    <br>
    <a th:href="@{/api/params/bar(text='Hola que tal festival', code=32323)}">ver bar mix 2 params</a>
    <br>
    <a th:href="@{/api/var/baz/Hola algun mensaje}">ver bar path variable</a>
</body>
</html>